#pane{
	-fx-background-image: url("../images/bg_2600_full.png");
	-fx-background-repeat: stretch;   
	-fx-background-position: center center;
}


.buttonDefault{
	-fx-padding:0;
	-fx-font-size: 100px;
    -icons-color: rgb(4, 37, 61);
    -fx-border-width: 0px;
    -fx-background-color: none;
}

/* ++++++++++++++++++++++++++++++++
           buttonNavigation 
+++++++++++++++++++++++++++++++++++*/
.buttonNavigation{
	-fx-padding:0;
	-fx-font-size: 100px;
    -icons-color: rgb(4, 37, 61);
    -fx-border-width: 0px;
    -fx-background-color: none;
}

.vboxbuttonNavigation{
	-fx-border-color:white; 
	-fx-border-width: 1 0 0 0; 
	-fx-border-style:solid;
	-fx-translate-y: -10px;	
	-fx-text-fill: white;
}

.firstLabelbuttonNavigation{
	-fx-font-size: 18px;
	-fx-text-fill: white;
}

.secondLabelbuttonNavigation{
	-fx-font-size: 12px;
	-fx-text-fill: white;
	-fx-translate-y: -5px;	
}

/* ++++++++++++++++++++++++++++++++
           info panel 
+++++++++++++++++++++++++++++++++++*/
.infoPanelText{
	-fx-font-size: 12px;
	-fx-text-fill: white;
}
.infoPanelTextLine{
	-fx-font-size: 12px;
	-fx-text-fill: white;
	-fx-border-width:0 0 1 0;
	-fx-border-style:solid;
	-fx-border-color:white;
}


/* ++++++++++++++++++++++++++++++++
           login panel 
+++++++++++++++++++++++++++++++++++*/

#loginInfoPanel{
	-fx-background-color: rgba(0,0,0,0.2);
	-fx-padding:10 20 10 20;
}
#loginButtonPanel{
	-fx-background-color: rgba(0,0,0,0);    
}
#loginInfoPanelLine{
	-fx-border-width:0 0 1 0;
	-fx-border-style:solid;
	-fx-border-color:white;
	-fx-background-color: red;
}
.loginInfoPanelText{
	-fx-font-size: 18pt;
	-fx-text-fill: white;
}

/* ++++++++++++++++++++++++++++++++
           Error panel 
+++++++++++++++++++++++++++++++++++*/

#errorPanel{
	-fx-background-color: rgba(0,0,0,0);
	-fx-padding:10 20 10 20;
}

.errorPanelText{
	-fx-font-size: 18px;
	-fx-text-fill: white;
}

/* ++++++++++++++++++++++++++++++++
           Info panel 
+++++++++++++++++++++++++++++++++++*/
.infoPanelText{
	-fx-text-fill: white;
}

/* ++++++++++++++++++++++++++++++++
           footer 
+++++++++++++++++++++++++++++++++++*/
#footer{
	-fx-padding:5 20 5 20;
	-fx-font-size: 18px;
	-fx-text-fill: white;
}

#buttonexit {
	-fx-padding:0;
	-fx-font-size: 24px;
    -icons-color: white;
    -fx-border-radius: 100;
    -fx-border-color: black;
    -fx-border-width: 0px;
    -fx-background-color: none;
}

/* ++++++++++++++++++++++++++++++++
           num block 
+++++++++++++++++++++++++++++++++++*/

.numberblockButton{
    -icons-color: white;
	-fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-background-color: rgba(0,0,0,0.2); 
}
.personlistViewHeadline{
	-fx-font-size: 18px;
	-fx-text-fill: white;
	-fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}
.passwordfield{
	-fx-text-fill: white;
	-fx-background-color: rgba(0,0,0,0);
}
.personlistView.list-view{
    -fx-background-color: rgba(0,0,0,0); 
    -fx-font-size: 18px;
}

.personlistView.list-view .list-cell:even {
	-fx-background-color: rgba(0,0,0,0);
	-fx-text-fill: white;
}
.personlistView.list-view .list-cell:odd {
	-fx-background-color:  rgba(0,0,0,0);
	-fx-text-fill: white;
}
.personlistView.list-view .list-cell:filled:selected:focused, .list-cell:filled:selected {
	-fx-background-color: rgba(0,0,0,0.2);
    -fx-text-fill: white;
}
.numberBlockUser{
	-fx-text-fill: white;
	-fx-font-size:14pt;
	-fx-border-color: white;
    -fx-border-width: 1;
    -fx-background-color: rgba(255,255,255,0.2);
}

/* ++++++++++++++++++++++++++++++++
           header 
+++++++++++++++++++++++++++++++++++*/

#textclock{
	-fx-font-size: 18px;	
    -fx-text-fill: white;	
}

#header{
	-fx-font-size: 18px;
    -fx-text-fill: white;
  	-fx-padding:5 20 5 20;   
	-fx-background-color: rgba(0,0,0,0.2);    
}
#textcompany{
	-fx-font-size: 18px;
    -fx-text-fill: white;	
}

/* ++++++++++++++++++++++++++++++++
           startpage 
+++++++++++++++++++++++++++++++++++*/

#textlogin{
	-fx-font-size: 18px;
	-fx-text-alignment:center;
    -fx-text-fill: white;
}
#textloginhint{
	-fx-font-size: 18px;
	-fx-text-alignment:center;
    -fx-text-fill: white;
}
#textcreditcard{
	-fx-font-size: 80px;
    -icons-color: rgb(4, 37, 61);
	-fx-translate-y: -50px;
}
#textcaretdown{
	-fx-font-size: 80px;
	-fx-translate-y: 35px;
    -icons-color: rgb(4, 37, 61);
}

/* ++++++++++++++++++++++++++++++++
           account panel 
+++++++++++++++++++++++++++++++++++*/

.accountInfoPanel{
	-fx-border-color: white;
    -fx-border-width: 1 0 0 0 ;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-padding:10 0 10 0;	
}
